In [61]:
import pandas as pd
import numpy as np

In [62]:
df = pd.read_csv("sample_data.csv")

In [63]:
df

,year,industry_code_ANZSIC,industry_name_ANZSIC,rme_size_grp,variable,value,unit
0,2011,A,"Agriculture, Forestry and Fishing",a_0,Activity unit,46134,COUNT
1,2011,A,"Agriculture, Forestry and Fishing",a_0,Rolling mean employees,0,COUNT
2,2011,A,"Agriculture, Forestry and Fishing",a_0,Salaries and wages paid,279,DOLLARS(millions)
3,2011,A,"Agriculture, Forestry and Fishing",a_0,"Sales, government funding, grants and subsidies",8187,DOLLARS(millions)
4,2011,A,"Agriculture, Forestry and Fishing",a_0,Total income,8866,DOLLARS(millions)
...,...,...,...,...,...,...,...
17023,2021,all,All Industries,j_Grand_Total,Total income,757504,DOLLARS(millions)
17024,2021,all,All Industries,j_Grand_Total,Total expenditure,654404,DOLLARS(millions)
17025,2021,all,All Industries,j_Grand_Total,Operating profit before tax,85116,DOLLARS(millions)
17026,2021,all,All Industries,j_Grand_Total,Total assets,2512677,DOLLARS(millions)
17027,2021,all,All Industries,j_Grand_Total,Fixed tangible assets,591351,DOLLARS(millions)

In [64]:
# check how many rows and columns present
df.shape

(17028, 7)

In [65]:
# Extracting column names
df.columns

Index(['year', 'industry_code_ANZSIC', 'industry_name_ANZSIC', 'rme_size_grp',
       'variable', 'value', 'unit'],
      dtype='object')

In [66]:
# DataFrame.info() --> Provides the type of datatypes, Including null values if any present
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17028 entries, 0 to 17027
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   year                  17028 non-null  int64
 1   industry_code_ANZSIC  17028 non-null  object
 2   industry_name_ANZSIC  17028 non-null  object
 3   rme_size_grp          17028 non-null  object
 4   variable              17028 non-null  object
 5   value                 17028 non-null  object
 6   unit                  17028 non-null  object
dtypes: int64(1), object(6)
memory usage: 931.3+ KB

In [67]:
# Memory usage of each column
df.memory_usage(deep=True)

Index                       128
year                     136224
industry_code_ANZSIC     987822
industry_name_ANZSIC    1434411
rme_size_grp            1094148
variable                1337644
value                   1030406
unit                    1214664
dtype: int64

In [68]:
# Check only datatypes
df.dtypes

year                     int64
industry_code_ANZSIC    object
industry_name_ANZSIC    object
rme_size_grp            object
variable                object
value                   object
unit                    object
dtype: object

In [69]:
# Statistical Information about data
df.describe()

               year
count  17028.000000
mean    2016.000000
std        3.162371
min     2011.000000
25%     2013.000000
50%     2016.000000
75%     2019.000000
max     2021.000000

## Rename Columns

In [70]:
df.columns

Index(['year', 'industry_code_ANZSIC', 'industry_name_ANZSIC', 'rme_size_grp',
       'variable', 'value', 'unit'],
      dtype='object')

In [71]:
# Let's rename column names

df = df.rename(columns={'industry_name_ANZSIC':'Name','industry_code_ANZSIC':'Code'})

In [72]:
df

,year,Code,Name,rme_size_grp,variable,value,unit
0,2011,A,"Agriculture, Forestry and Fishing",a_0,Activity unit,46134,COUNT
1,2011,A,"Agriculture, Forestry and Fishing",a_0,Rolling mean employees,0,COUNT
2,2011,A,"Agriculture, Forestry and Fishing",a_0,Salaries and wages paid,279,DOLLARS(millions)
3,2011,A,"Agriculture, Forestry and Fishing",a_0,"Sales, government funding, grants and subsidies",8187,DOLLARS(millions)
4,2011,A,"Agriculture, Forestry and Fishing",a_0,Total income,8866,DOLLARS(millions)
...,...,...,...,...,...,...,...
17023,2021,all,All Industries,j_Grand_Total,Total income,757504,DOLLARS(millions)
17024,2021,all,All Industries,j_Grand_Total,Total expenditure,654404,DOLLARS(millions)
17025,2021,all,All Industries,j_Grand_Total,Operating profit before tax,85116,DOLLARS(millions)
17026,2021,all,All Industries,j_Grand_Total,Total assets,2512677,DOLLARS(millions)
17027,2021,all,All Industries,j_Grand_Total,Fixed tangible assets,591351,DOLLARS(millions)

In [73]:
df.shape

(17028, 7)

In [75]:
pip install pandas-summary

Collecting pandas-summary
  Downloading pandas_summary-0.2.0-py2.py3-none-any.whl (5.2 kB)
Collecting datatile (from pandas-summary)
  Downloading datatile-1.0.3-py3-none-any.whl (6.0 kB)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from pandas-summary) (1.25.2)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from pandas-summary) (1.5.3)
Collecting traceml<1.1 (from datatile->pandas-summary)
  Downloading traceml-1.0.8-py3-none-any.whl (144 kB)
     â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 144.5/144.5 kB 4.2 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas->pandas-summary) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->pandas-summary) (2023.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas->pandas-summary) (1.16.0)
Installing collected packages: traceml, datatile, pandas-summary
Successfully installed datatile-1.0.3 pandas-summary-0.2.0 traceml-1.0.8

In [77]:
# Summary
from pandas_summary import DataFrameSummary
dfs = DataFrameSummary(df)

<ipython-input-77-fd6dbacd9379>:3: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  dfs = DataFrameSummary(df)

In [80]:
df['Name']

0        Agriculture, Forestry and Fishing
1        Agriculture, Forestry and Fishing
2        Agriculture, Forestry and Fishing
3        Agriculture, Forestry and Fishing
4        Agriculture, Forestry and Fishing
                       ...
17023                       All Industries
17024                       All Industries
17025                       All Industries
17026                       All Industries
17027                       All Industries
Name: Name, Length: 17028, dtype: object

In [81]:
dfs['value']

top                  C: 331
counts                17028
uniques                7339
missing                   0
missing_perc             0%
types           categorical
Name: value, dtype: object

In [84]:
# Unique values/elements in a column
df['Code'].unique()

array(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M',
       'N', 'O', 'P', 'Q', 'R', 'S', 'all'], dtype=object)

In [85]:
# count of those elements in that column
df['Code'].value_counts()

A      891
B      891
S      891
R      891
Q      891
P      891
O      891
N      891
M      891
L      891
K      891
J      891
I      891
H      891
G      891
F      891
E      891
D      891
C      891
all     99
Name: Code, dtype: int64

In [86]:
df['Code'].value_counts(normalize=True)

A      0.052326
B      0.052326
S      0.052326
R      0.052326
Q      0.052326
P      0.052326
O      0.052326
N      0.052326
M      0.052326
L      0.052326
K      0.052326
J      0.052326
I      0.052326
H      0.052326
G      0.052326
F      0.052326
E      0.052326
D      0.052326
C      0.052326
all    0.005814
Name: Code, dtype: float64

In [87]:
# Dropping column/s
df_a = df.drop("Name",axis=1)

In [89]:
df_a.shape

(17028, 6)

In [90]:
# Transpose a dataframe

df_transpose = df.T

In [91]:
df_transpose

,0,1,2,3,4,5,6,7,8,9,...,17018,17019,17020,17021,17022,17023,17024,17025,17026,17027
year,2011,2011,2011,2011,2011,2011,2011,2011,2011,2011,...,2021,2021,2021,2021,2021,2021,2021,2021,2021,2021
Code,A,A,A,A,A,A,A,A,A,A,...,S,all,all,all,all,all,all,all,all,all
Name,"Agriculture, Forestry and Fishing","Agriculture, Forestry and Fishing","Agriculture, Forestry and Fishing","Agriculture, Forestry and Fishing","Agriculture, Forestry and Fishing","Agriculture, Forestry and Fishing","Agriculture, Forestry and Fishing","Agriculture, Forestry and Fishing","Agriculture, Forestry and Fishing","Agriculture, Forestry and Fishing",...,Other Services,All Industries,All Industries,All Industries,All Industries,All Industries,All Industries,All Industries,All Industries,All Industries
rme_size_grp,a_0,a_0,a_0,a_0,a_0,a_0,a_0,a_0,a_0,b_1-5,...,i_Industry_Total,j_Grand_Total,j_Grand_Total,j_Grand_Total,j_Grand_Total,j_Grand_Total,j_Grand_Total,j_Grand_Total,j_Grand_Total,j_Grand_Total
variable,Activity unit,Rolling mean employees,Salaries and wages paid,"Sales, government funding, grants and subsidies",Total income,Total expenditure,Operating profit before tax,Total assets,Fixed tangible assets,Activity unit,...,Fixed tangible assets,Activity unit,Rolling mean employees,Salaries and wages paid,"Sales, government funding, grants and subsidies",Total income,Total expenditure,Operating profit before tax,Total assets,Fixed tangible assets
value,46134,0,279,8187,8866,7618,770,55700,32155,21777,...,4407,500568,1889430,123620,674890,757504,654404,85116,2512677,591351
unit,COUNT,COUNT,DOLLARS(millions),DOLLARS(millions),DOLLARS(millions),DOLLARS(millions),DOLLARS(millions),DOLLARS(millions),DOLLARS(millions),COUNT,...,DOLLARS(millions),COUNT,COUNT,DOLLARS(millions),DOLLARS(millions),DOLLARS(millions),DOLLARS(millions),DOLLARS(millions),DOLLARS(millions),DOLLARS(millions)